body{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

// header
.header{
  width: 100%;
  height: 10%;
  min-height: 50px;
  background-color: orange;
  &__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_logo{
      font-family: "Arial Black";
      font-size: 2rem;
      color: #000;
    }
  }
}

// main
.main{
  &__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__navigation{
      width: 250px;
      height: auto;
      background-color: #333;
      padding: 10px 25px 10px 15px;
      align-self: flex-start;
      position: sticky;
      left: 0;
      top: 0;
      box-shadow: #000 -5px 1px 5px 1px;
      ul{
        list-style: none;
        li{
          &:not(:first-child){
            margin-top: 10px;
          }
          a{
            font-size: 1.2rem;
            color: #fff;
          }
        }
      }
    }
    .content{
      background-color: #2b2238;
      width: calc(100% - 250px);
      .content-title{
        font-size: 3.5rem;
        color: #fff;
        font-weight: 900;
      }
      p{
        font-family: Arial;
        line-height: 105%;
        color: #fff;
        font-size: 1.5rem;
        margin-top: 15px;
        span{
          color: red;
          font-weight: 900;
          font-size: 1.6rem;
          text-transform: uppercase;
        }
      }
      ul{
        margin-top: 15px;
        list-style: none;
        margin-left: 10px;
        li{
          padding-left: 20px;
          position: relative;
          &:not(:first-child){
            margin-top: 10px;
          }
          &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
          }
          a{
            font-size: 1.5rem;
            color: #fff;
          }
        }
      }
      .image-link{
        //width: 100%;
        //height: 100px;
        float: left;
        display: inline-block;
        overflow: hidden;
        padding-right: 25px;
        padding-bottom: 10px;
        &:hover{
          img{
            transform: scale(1.1);
          }
        }
        img{
          width: 200px;
          height: 200px;
          transition: all .3s ease-in-out;
          //float: left;
          //width: 100%;
          //height: 200px;
          //padding-left: 5px;
          //padding-right: 5px;
        }
      }
      h4{
        font-family: "Franklin Gothic Medium";
        font-size: 4rem;
        color: #fff;
        margin-top: 10px;
      }
    }
  }
}

// footer
.footer{
  width: 100%;
  height: 30%;
  background-color: orange;
  padding-top: 10px;
  &__container{
    h3{
      font-family: "Arial Black";
      font-size: 2rem;
      color: #000;
    }
    a{
      font-family: MingLiU_HKSCS-ExtB;
      font-size: 1.5rem;
      color: #2c00ff;
      display: block;
      transition: all .3s ease-in-out;
      &:hover{
        color: #333333;
      }
      &:not(:first-child){
        margin-top: 10px;
      }
    }
  }
}